.pc-menu-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  .menu-column {
    height: 100%;
    border-right: 1px solid #e4e4e4;
  }

  .content-column {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
  }
}

.menu-header {
  height: 60px;
  color: #333;
  font-size: 30px;
  padding: 18px 40px;
  &.collapse {
    padding: 18px 26px;
  }
}

.menu-item {
  height: 48px;
  padding: 10px 28px;
  color: #949494;
  cursor: pointer;
  border-radius: 40px;
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #f0f0f0;
    color: #000000;
  }

  &.collapse {
    padding: 10px 14px;
  }
}
